<h1>Reaching out to embrace the random. Reaching out to embrace whatever may come.</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<h3>About</h3>
<p>My name is Leon Zagorouiko and I'm currently attending Epicodus.</p>
<ul>
  <li>github: https://github.com/Zagorouiko</li>
</ul>

<h2>References</h2>
	<div id="recommendation_form_container">
	</div>
	<% if user_signed_in? %>
		<p><%= link_to "Add recommendation", new_recommendation_path, id: "new_recommendation_link", remote: true %><p>
	<% else %>
		<p>Please sign in to add a recommendation.</p>
	<% end %>
		<div id="recommendations_list">
